# Environment Variables
# Copy this file to .env and fill in values

DROPBOX_ACCESS_TOKEN=<your-value>
DROPBOX_APP_FOLDERNAME=<your-value>
DROPBOX_APP_KEY=<your-value>
DROPBOX_APP_SECRET=<your-value>
GEMINI_API_KEY=<your-value>
OLLAMA_API_KEY=<your-value>
